@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  user-select: #92b973;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer components {
  .mobile_nav-active {
    @apply before:absolute before:bottom-0 before:left-0 before:top-0 before:box-content before:h-full before:w-[4px] before:bg-red-500;
  }
  .desk_nav-active {
    @apply after:absolute after:bottom-0 after:left-0 after:right-0 after:box-content after:h-[4px] after:w-full after:rounded-sm after:bg-red-500;
  }
  .active {
    @apply block bg-secondary !text-white;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
